/* FONTS */

@font-face {
  font-family: Quirk;
  src: url('Quirk.otf');
}



@font-face {
  font-family: Satoshi;
  src: url('Satoshi-Medium.otf');
}


/* BODY */

html {
  scroll-snap-type: y mandatory;

}


body {
  overscroll-behavior-y: none;
  background-color: white;
  margin: 0;
  font-family: "Open Sans";
}

* {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}

.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position: relative;
  height: 100%;
}

a {
  color: black;
}

a:hover {
  font-weight: bold;
  color: black
}

a.visited {
  color: black;
}

a.link {
  color: black;
}

a.active {
  color: black;
}


/* NAVIGATION */

#navigation {
  position: fixed;
  width: 84%;
  z-index: 1;
  margin-right: 8%;
  margin-left: 8%;
  top: 0;
  height: 100px;
  border-bottom: solid rgb(0, 0, 0);
  border-width: 1px;
  background: transparent;
}

.textnav {
  position: relative;
  font-size: large;
  padding-top: 35px;
  margin-left: 6%;
  letter-spacing: 5pt;
  font-family: 'Source Code Pro';
  color: rgb(0, 0, 0);
}

.textnavfooter {
  position: relative;
  font-size: large;
  padding-top: 35px;
  margin-left: 6%;
  letter-spacing: 5pt;
  font-family: 'Source Code Pro';
  color: white;
}


/* 2 SECTIONS */


.container {
  flex-direction: row;

}


/* CONTENT RIGHT */



.scrollsnap-section {
  scroll-snap-align: start;
}

/* BOX1 INTRO */


.box1image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
}



.titlebox1 {
  padding-top: 10%;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  opacity: 1;

}

.textbox1 {
  margin-top: 5%;
  margin-left: 6%;
  font-size: 22px;
  font-weight: 400;
  margin-right: 12%;
  opacity: 1;
}

.underline {
  display: inline;
  text-decoration: underline;
  text-underline-offset: 8px;
}



.scroll {
  position: fixed;
  bottom: 80px;
  font-size: 16px;
  color: rgb(157, 157, 157);
}

.arrow {
  display: inline block;
  padding-left: 10px;
  color: rgb(157, 157, 157);
}

.listtool {
  margin-left: 6%;
  margin-right: 12%;
  margin-top: 1%;
}

.tool {
  background-color: transparent;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  font-family: 'Source Code Pro', serif;
  margin-right: 1%;
  margin-top: 1%;

}



/* BOX2 CALGARY MAP */

.box {
  position: relative;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

.box2image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: linear-gradient(220deg, #85adfdd6 60%, #85adfd1e 100%), url("calgarymapcover.jpg");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
}


.titlebox2 {
  padding-top: 6%;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  opacity: 1;
  color: rgb(0, 0, 0);
  z-index: 1;

}

.textbox2 {
  margin-top: 5%;
  margin-left: 6%;
  font-size: 24px;
  font-weight: 400;
  margin-right: 12%;
  opacity: 1;
  color: rgb(0, 0, 0)
}




/* BOX3 AGARIOPEDIA  */


.box3image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: linear-gradient(210deg, #6599998a 5%, #ececec 100%), url("agariopediacover.jpg");
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
}


.titlebox3 {
  padding-top: 6%;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
}

.textbox3 {
  margin-top: 5%;
  margin-left: 6%;
  font-size: 24px;
  font-weight: 400;
  margin-right: 12%;

}

/* BOX4 MALAYSIA  */


.box4image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: linear-gradient(210deg, #e2d291 20%, #e2d2915c 100%), url("malaysia.jpg");
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
}

/* BOX5 SITE  */

.box5image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: linear-gradient(210deg, #fd6b6b 20%, #fd6b6b7d 100%), url("code.png");
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
}


/* BOX6 ABOUT ME  */



.box6image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: linear-gradient(210deg, #bfbfbf 20%, #bfbfbf82 100%), url("moi.jpg");
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
}


/* BOX7 YOUUBE  */

.box7image {
  height: 98%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
}


.youtube {
  position:absolute;
  object-fit: cover;
z-index: 0;
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 30px 30px 0px 0px;

}

.titleboxyt {
  padding-top: 6%;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  opacity: 1;
  color: rgb(0, 0, 0);
  z-index: 1;
  position: relative;

}

.youtubetext {
  margin-top: 3%;
  margin-left: 6%;
  font-size: 24px;
  font-weight: 400;
  margin-right: 12%;
  z-index: 1;
  position: relative;



}

/* FOOTER */

.boxfooter {
  position: relative;
  height: 100vh;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  z-index: 2;

}

.footerbox {
  height: 99%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  background: rgb(0, 0, 0);
    background-size: cover;
  border-radius: 30px 30px 0px 0px;
  z-index: 2;

}

.footertitles {
  line-height: 68px;
  font-size: 45px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  color: white;
}

.youtubetext2 {
  line-height: 68px;
  font-size: 45px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  color: white;
  z-index: 1;
  position: relative;



}

.footertitles2 {
  line-height: 38px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 6%;
  margin-right: 12%;
  color: white;
}

.footertext {
  margin-top: 12%;
  margin-left: 6%;
  font-size: 24px;
  font-weight: 400;
  margin-right: 12%;
  color: white;
  margin-top: 7%;

}

.footertext2 {
  margin-top: 4%;
  margin-left: 6%;
  font-size: 24px;
  font-weight: 400;
  margin-right: 12%;
  color: white;
}

.linkfooter {
  text-decoration: none;
  color: white;

}

.linkfooter:hover {
  color: rgb(88, 133, 238);
}

.linkfooter:visited {
  color: rgb(255, 255, 255);
}

.linkfooter:visited:hover {
  color: rgb(88, 133, 238);
}

.linkfooter:active {
  color: rgb(88, 133, 238);
}

.up {
  position: absolute;
  float: right;
  right: 10%;
  bottom: 80px;
  font-size: 16px;
  color: rgb(157, 157, 157);
}

.arrowup {
  padding-left: 10px;
  color: white;
}

.up a {
  color: rgb(255, 255, 255);
}


/* CONTENT LEFT */

.left {
  right:  10%;
float: right;  
background-color: transparent;
  bottom: 0;
  position: fixed;
  top: 0;
  z-index: 1;

}

.firstline {
  display: inline-block;

  font-size: 90px;
  font-weight: 600;
}

.secondline {
  display: inline-block;
  font-size: 90px;
  font-weight: 800;
}

.links {
  text-align: right;
  position: fixed;
  font-size: 16px;
  bottom: 40px;
  line-height: 38px;
  text-decoration: underline;
  text-underline-offset: 8px;
}


.links a {
  color: black;
}

a {
  text-decoration: none;
}

@media  screen and (max-width: 600px) {
  .left {
    opacity: 0% ;
  }
  .firstline {
    font-size: 50px;
    line-height: 50px;

  }
  .secondline {
    font-size: 50px;
    line-height: 50px;

  }
  .titlebox1 {
    font-size: 30px;
    line-height: 30px;

  }
  .titlebox2 {
    font-size: 45px;
    line-height: 45px;
    padding-top: 11%;
  }
  #navigation {
    height: 80px;
  }
  .listtool {
    margin-top: 3%;

  }
  .textbox3 {
    font-size: 20px;
    }


.titleboxyt {
  font-size: 45px;
  line-height: 45px;
  padding-top: 11%;
}

.youtubetext {
  font-size: 20px;
  }
  
.youtubetext2 {
  line-height: 50px;
  font-size: 28px;  }

}

@media  screen and (min-width:1000px) and (max-width:1500px) {
  .firstline {
    font-size: 80px;
    line-height: 80px;

  }
  .secondline {
    font-size: 80px;
    line-height: 80px;

  }
  .titlebox1 {
    font-size: 55px;
    line-height: 55px;

  }
}

@media  screen and (min-width:600px) and (max-width:1000px) {
  .left {
    opacity: 0% ;
  }
  .firstline {
    font-size: 60px;
    line-height: 60px;

  }
  .secondline {
    font-size: 60px;
    line-height: 60px;

  }
  .titlebox1 {
    font-size: 40px;
    line-height: 40px;

  }

  .titlebox2 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 9%;
  }
  #navigation {
  height: 90px;
}
.listtool {
  margin-top: 2%;

}
.textbox3 {
font-size: 22px;
}

.titleboxyt {
  font-size: 50px;
  line-height: 50px;
  padding-top: 9%;
}

.youtubetext {
  font-size: 22px;
  }


.youtubetext2 {
  line-height: 60px;
  font-size: 35px;  }
}




@media  screen and (min-height:0px) and (max-height:600px) {
  .textbox3 {
    font-size: 18px;
    margin-top: 1%;

  }
  }


@media  screen and (min-height:0px) and (max-height:800px) {
  .footertext2 {
opacity: 0%;
  }
  .footertitles2 {
    opacity: 0%;
      }
  }
