/* RESPONSIVE */
@media screen and (max-width: 1100px) {

  .test {
  font-size: 12vw;
  }
    .headertext2 {
    font-size: 12vw;
    }
    
    }

/* BODY */

body {
    font-family: 'Anybody', sans-serif;
    font-size: normal;
    color:white;
  }

.firstpage {
  height:100vh;
  background-color: #10101d;
  background-size: contain;
background-repeat: no-repeat;
}

h2 {
    font-family: 'Anybody', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-right:15%;
 } 

 body {
    margin: 0;
  }


/* NAVIGATION BAR */

.fadein {
    animation: fadeInAnimation ease 1s;
    opacity: 0;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
    }

#navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: 2%;
}



#rightnavbar {
  float: right;
  margin-right: 10%;
}

.navstyles a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 20pt;
    font-size:x-large;
}


/* CONTENT */

/* HEADER */

.header {
  min-height: 100vh;
  justify-content: center;
  position:sticky;
  position:-webkit-sticky;
}

.floater {

}

  
.image {
  animation: fadeInAnimation ease 1s;
  opacity: 0;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  position: absolute;
  z-index:-2;
  display: block;
width: 80%;
  top: 10%;
  right: 10%
 }
  

.hover {

  transform: scale(0.55);
transition: transform 0.5s ease;
transform-origin: -7% 64%;
z-index:-1;
}
  
 

.underscore {
display: inline;
animation: blinker 1s step-start infinite;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

  .headertext{
margin-left: 5%;
color: white;

  }

  .animateheader {
    padding-top: 10%;
    animation: cssAnimation 0s 0.5s forwards;
    visibility: hidden;
    font-size: 94pt;
    overflow: hidden;
    line-height: 1;
    opacity: 1;
    z-index:1;
  }
  
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }

  .animate2 {
    animation: cssAnimation 0s 1s forwards;
    visibility: hidden;
    font-size : 94pt;
    overflow: hidden;
    opacity: 1;
    z-index:2;
  }
  
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }


  h1 span {
    display: block;
    animation: reveal 0.5s cubic-bezier(0.2, 0, 0.175, 1) 0.5s;
  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

  .headertext2  {
    display: block;
    animation: reveal 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;

  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }

  .introtitle  {
    display: block;
    font-size:22pt;
    font-weight: 800;
    margin-left: 55%;
    margin-right: 10%;
    color: #b8e56e;

  }

  .intro  {
    color:#ffffff;
    font-family: 'Source Code Pro', serif;
    display: block;
    font-size:16pt;
    font-weight: 400;
    line-height: 32px;
    margin-left: 55%;
    margin-right: 10%;
  }

  .tag {
    display: inline;
    background-color: #aeb3e1;
    color: white;
    border-radius: 5px;
    padding: 0px 2px 0px 7px;
    margin-top: 20px;
    margin-bottom: 5px;
  }



/* WORKS+CV+CONTACT */

.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:100%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
  }

/* ARTICLES */

.article {
  width: 50%;
  float: left;
  font-family: 'PT Sans', sans-serif;
  font-size:20pt;
}


/* WORK */
.sec2 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s all ease;
}

.sec2.active{
  transform: translateY(0);
  opacity: 1;
}

.discover {
  margin: auto;
  text-align: center;
  width: 30%;
  font-family: 'Anybody', sans-serif;
  font-weight: 800;
  font-size: 55pt;
  padding-bottom: 10%;
  -webkit-animation: bounce .4s ease infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
      text-shadow:
                  0 5px 0 #ccc,
                  0 2px 3px rgba(0, 0, 0, 1);  
  }
  100% {
    transform:translateY(-20px);
    text-shadow:  0 50px 0 #black,
                  0 0px 20px rgba(0, 0, 0, .8);
  }
}


.titlework {
  font-size : 55pt;
}



.sec1{

  transition: opacity 4s;
  opacity: 1;}
  
/* Setting fade transition and default settings */
body {

  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  min-height: 200px;
  /* min height incase content is higher than window height */

  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}


/* colours */
.color-violet {
  background-color: #10101d;
}
.color-indigo {
  background-color: #d01482;
}
.color-blue {
  background-color: #10101d;
}
.color-green {
  background-color: #162519;
}
.color-yellow {
  background-color: rgb(103, 18, 18);
}

.color-black {
  background-color: rgb(211, 110, 195);
}



/* YOUTUBE ARTICLE */

.videobg {
    object-fit: cover;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index:0;

}

 .bgvideo    { 
    width: 100%;
    height: auto; /* spec says no percent allowed here */
  }

  .clickyt {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'PT Sans', sans-serif;
    font-size:20pt;
    color: white;
    z-index:1; 
}

#wrap {
    width: 100%;
    height: 100%;
    background-color: #9ff;
}



.reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 0.8s, transform 0.8s;
  
  &_visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.box {
  background: @green;
  margin: 2%;
  border-radius: 10px;
  display: inline-block;
  
  .small & {
    width: 20%;
    padding-bottom: 20%;
    
    &:nth-of-type(1) { background: @olive; }
    &:nth-of-type(2) { background: @blue; }
    &:nth-of-type(3) { background: @aqua; }
    &:nth-of-type(4) { background: @teal; }
  }
  
  .medium & {
    width: 44%; padding-bottom: 25%;
    
    &:nth-of-type(2) { background: @navy; }
    &:nth-of-type(3) { background: @yellow; }
    &:nth-of-type(4) { background: @red; }
  }
  
  .big  & {
    background-color: @lime;
    width: 94%; padding-bottom: 30%;
  }
}



/* FOOTER */

.footerbg {
    float: left;
    font-family: 'PT Sans', sans-serif;
    font-size:20pt;
    position:relative;   
    color: white;
    background: black;
    margin-left: auto;
    margin-right: auto;
}


.footertext {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
 
* {
  cursor:none;
}
.wrapper {
  background-color:white;
  position:absolute;
  height:100%;
}
.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}
.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position:relative;
  height:100%;
}




